<html>
  <head>
    {% javascripts '@StfalconTinymceBundle/Resources/public/vendor/tiny_mce/tiny_mce_popup.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
  </head>
  <body>
    <script language="javascript" type="text/javascript">
      // tinyMCEPopup.execCommand("mceInsertContent", false, '{# 'http://' ~ root_path ~ '/' ~ image.webPath #}');
      var URL = '{{ 'http://' ~ root_path ~ '/' ~ image.webPath ~ '/' ~ image.name }}';
      var win = tinyMCEPopup.getWindowArg("window");

      // insert information now
      win.document.getElementById(tinyMCEPopup.getWindowArg("input")).value = URL;

      // are we an image browser
      if (typeof(win.ImageDialog) != "undefined") {
        // we are, so update image dimensions...
        if (win.ImageDialog.getImageData) {
          win.ImageDialog.getImageData();
        }

        // ... and preview if necessary
        if (win.ImageDialog.showPreviewImage) {
          win.ImageDialog.showPreviewImage(URL);
        }
      }

      // close popup window
      tinyMCEPopup.close();
    </script>
  </body>
</html>
